In [1]:
import numpy as np
import pandas as pd
import streamlit as st

from plotly import tools
import plotly.offline as py
import plotly.express as px
import plotly.graph_objects as go

In [3]:
# import billing data
df = pd.read_csv('VERIZON_BILL_CSV.csv')

# clean data and make minor adjustments

df['Charge Amount'] = df['Charge Amount'].str.replace('\t', '')
df['Charge Amount'] = df['Charge Amount'].str.replace('$', '')
df['Charge Amount'] = df['Charge Amount'].str.replace('(', '-')
df['Charge Amount'] = df['Charge Amount'].str.replace(')', '')

# convert data type for mathmatical functionalities 
df['Charge Amount'] = pd.to_numeric(df['Charge Amount'])

# remove whitespace
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

<ipython-input-3-6125b93f5baf>:7: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

<ipython-input-3-6125b93f5baf>:8: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

<ipython-input-3-6125b93f5baf>:9: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

- What do those charges include? (Activation, line of service and charge for new phone?)
- Did Verizon figure out if the monthly charge is $30 rather than $70/line?
- Are they going to add the discount per line for autopay?
- If Katieâ€™s activation fee was charged twice, will they refund the difference?

In [ ]:
I will add the charge details later tonight. It looks like the monthly charges were

In [15]:
d

In [4]:
df[df['Charge Description'] == 'Activation fee'].sum()

Person                  Katie WilliamsJenny DeanDebra EckhardtLindsay ...
Device                  IPHONE 11 PROIPHONE 12 PROIPHONE 12 PRO MAXIPH...
Charge Amount                                                       200.0
Charge Description      Activation feeActivation feeActivation feeActi...
Charge Type             One-time charges and creditsOne-time charges a...
Billing Period Start    Nov 29, 2020Nov 29, 2020Nov 29, 2020Nov 29, 20...
Billing Period End      Dec 28, 2020Dec 28, 2020Dec 28, 2020Dec 28, 20...
dtype: object

In [ ]:
'$60'

In [5]:
200.00 + 150 + 73.70

423.7

In [6]:
df[df['Charge Description'].str.contains('Device payment')]

,Person,Device,Charge Amount,Charge Description,Charge Type,Billing Period Start,Billing Period End
35,Jenny Dean,IPHONE 12 PRO,33.42,Device payment 1 of 30 ($999.99/30mo),Monthly charges and credits,"Nov 29, 2020","Dec 28, 2020"
47,Debra Eckhardt,IPHONE 12 PRO MAX,36.85,"Device payment 1 of 30 ($1,099.99/30mo)",Monthly charges and credits,"Nov 29, 2020","Dec 28, 2020"
58,Lindsay Rosas,IPHONE 12 PRO,33.42,Device payment 1 of 30 ($999.99/30mo),Monthly charges and credits,"Nov 29, 2020","Dec 28, 2020"
79,Temporary Phone,IPHONE 11 PRO,36.85,"Device payment 1 of 30 ($1,099.99/30mo)",Monthly charges and credits,"Nov 29, 2020","Dec 28, 2020"

In [7]:
df.groupby(['Charge Type', 'Charge Description'])['Charge Amount'].sum().sort_values(ascending=False)

Charge Type                   Charge Description
One-time charges and credits  Activation fee                                     200.00
Monthly charges and credits   Start Unlimited                                    150.00
                              Device payment 1 of 30 ($1,099.99/30mo)             73.70
                              Device payment 1 of 30 ($999.99/30mo)               66.84
One-time charges and credits  Start unlimited - partial-month                     65.00
Monthly charges and credits   Get More Unlimited 5G UW                            50.00
                              Unlimited Plan                                      30.00
One-time charges and credits  Get more unlimited 5G UW - partial-month            25.00
Surcharges                    Administrative Charge                               23.46
                              Fed Universal Service Charge                        20.44
Taxes and gov fees            KS State Sls Tax-Telco                              18.14
Surcharges                    KS Universal Service Fund                           14.64
Taxes and gov fees            KS E-911 Fee                                        10.80
Add-ons                       5G Ultra Wideband Access                            10.00
One-time charges and credits  5G Ultra Wideband Access - partial-month             5.00
Taxes and gov fees            Sedgwick Cnty Sls Tax-Telco                          2.81
Surcharges                    Regulatory Charge                                    2.54
Taxes and gov fees            State Tax                                            0.84
                              Local Tax                                            0.13
One-time charges and credits  5G Ultra Wideband Credit                            -5.00
Add-ons                       5G Ultra Wideband Credit                           -10.00
Monthly charges and credits   50% Access Fee Discount From 316.469.1082          -10.00
One-time charges and credits  Get more unlimited 5G UW - partial-month refund    -45.00
Monthly charges and credits   Device Promo - Get 1 of 30                         -66.86
Name: Charge Amount, dtype: float64

In [8]:
monthly_charges = df[df['Charge Type'].str.contains('Monthly charges')].reset_index(drop=True)

In [9]:
monthly_charges.groupby('Person')['Charge Amount'].sum()

Person
Debra Eckhardt     66.85
Jenny Dean         29.99
Joseph Rosas       70.00
Lindsay Rosas      29.99
Tanner Dean        30.00
Temporary Phone    66.85
Name: Charge Amount, dtype: float64

In [10]:
df[df['Charge Description'] == 'Activation fee']

,Person,Device,Charge Amount,Charge Description,Charge Type,Billing Period Start,Billing Period End
0,Katie Williams,IPHONE 11 PRO,40.0,Activation fee,One-time charges and credits,"Nov 29, 2020","Dec 28, 2020"
32,Jenny Dean,IPHONE 12 PRO,40.0,Activation fee,One-time charges and credits,"Nov 29, 2020","Dec 28, 2020"
44,Debra Eckhardt,IPHONE 12 PRO MAX,40.0,Activation fee,One-time charges and credits,"Nov 29, 2020","Dec 28, 2020"
55,Lindsay Rosas,IPHONE 12 PRO,40.0,Activation fee,One-time charges and credits,"Nov 29, 2020","Dec 28, 2020"
67,Tanner Dean,IPHONE X,40.0,Activation fee,One-time charges and credits,"Nov 29, 2020","Dec 28, 2020"

In [11]:
df.groupby('Charge Description')['Charge Amount'].sum()

Charge Description
50% Access Fee Discount From 316.469.1082          -10.00
5G Ultra Wideband Access                            10.00
5G Ultra Wideband Access - partial-month             5.00
5G Ultra Wideband Credit                           -15.00
Activation fee                                     200.00
Administrative Charge                               23.46
Device Promo - Get 1 of 30                         -66.86
Device payment 1 of 30 ($1,099.99/30mo)             73.70
Device payment 1 of 30 ($999.99/30mo)               66.84
Fed Universal Service Charge                        20.44
Get More Unlimited 5G UW                            50.00
Get more unlimited 5G UW - partial-month            25.00
Get more unlimited 5G UW - partial-month refund    -45.00
KS E-911 Fee                                        10.80
KS State Sls Tax-Telco                              18.14
KS Universal Service Fund                           14.64
Local Tax                                            0.13
Regulatory Charge                                    2.54
Sedgwick Cnty Sls Tax-Telco                          2.81
Start Unlimited                                    150.00
Start unlimited - partial-month                     65.00
State Tax                                            0.84
Unlimited Plan                                      30.00
Name: Charge Amount, dtype: float64

In [37]:
    charge_by_user = df[df["Person"] != "General Account"]

    charges_per_user = (
        charge_by_user.groupby("Person")["Charge Amount"]
        .sum()
        .sort_values()
        .reset_index(name="Charge")
    )

    st.dataframe(charges_per_user)

In [ ]:
138.96+102.10+102.10

In [12]:
charges_per_user['Charge'].sum()

NameError: name 'charges_per_user' is not defined

In [ ]:
    st.set_page_config(
        page_title="Ex-stream-ly Cool App",
        page_icon="ðŸ§Š",
        layout="wide",
        initial_sidebar_state="expanded",
    )

In [13]:
df.groupby(['Person', 'Charge Type'])['Charge Amount'].sum()

Person           Charge Type
Debra Eckhardt   Monthly charges and credits     66.85
                 One-time charges and credits    55.00
                 Surcharges                      11.22
                 Taxes and gov fees               5.89
General Account  Taxes and gov fees               0.97
Jenny Dean       Monthly charges and credits     29.99
                 One-time charges and credits    55.00
                 Surcharges                      11.22
                 Taxes and gov fees               5.89
Joseph Rosas     Add-ons                          0.00
                 Monthly charges and credits     70.00
                 One-time charges and credits   -20.00
                 Surcharges                       5.07
                 Taxes and gov fees               2.35
Katie Williams   One-time charges and credits    45.00
                 Surcharges                       6.16
                 Taxes and gov fees               3.50
Lindsay Rosas    Monthly charges and credits     29.99
                 One-time charges and credits    55.00
                 Surcharges                      11.22
                 Taxes and gov fees               5.89
Tanner Dean      Monthly charges and credits     30.00
                 One-time charges and credits    45.00
                 Surcharges                      11.13
                 Taxes and gov fees               5.83
Temporary Phone  Monthly charges and credits     66.85
                 One-time charges and credits    10.00
                 Surcharges                       5.06
                 Taxes and gov fees               2.40
Name: Charge Amount, dtype: float64

In [14]:
df

,Person,Device,Charge Amount,Charge Description,Charge Type,Billing Period Start,Billing Period End
0,Katie Williams,IPHONE 11 PRO,40.00,Activation fee,One-time charges and credits,"Nov 29, 2020","Dec 28, 2020"
1,Katie Williams,IPHONE 11 PRO,5.00,Start unlimited - partial-month,One-time charges and credits,"Nov 29, 2020","Dec 28, 2020"
2,Katie Williams,IPHONE 11 PRO,3.42,Fed Universal Service Charge,Surcharges,"Nov 29, 2020","Dec 28, 2020"
3,Katie Williams,IPHONE 11 PRO,2.74,KS Universal Service Fund,Surcharges,"Nov 29, 2020","Dec 28, 2020"
4,Katie Williams,IPHONE 11 PRO,3.03,KS State Sls Tax-Telco,Taxes and gov fees,"Nov 29, 2020","Dec 28, 2020"
...,...,...,...,...,...,...,...
84,Temporary Phone,IPHONE 11 PRO,1.80,KS E-911 Fee,Taxes and gov fees,"Nov 29, 2020","Dec 28, 2020"
85,Temporary Phone,IPHONE 11 PRO,0.52,KS State Sls Tax-Telco,Taxes and gov fees,"Nov 29, 2020","Dec 28, 2020"
86,Temporary Phone,IPHONE 11 PRO,0.08,Sedgwick Cnty Sls Tax-Telco,Taxes and gov fees,"Nov 29, 2020","Dec 28, 2020"
87,General Account,NaN,0.84,State Tax,Taxes and gov fees,"Nov 29, 2020","Dec 28, 2020"
88,General Account,NaN,0.13,Local Tax,Taxes and gov fees,"Nov 29, 2020","Dec 28, 2020"

In [15]:
charge_by_user = df[df["Person"] != "General Account"]

charges_per_user = (
    charge_by_user.groupby(["Person", "Charge Type"])["Charge Amount"]
    .sum()
    .sort_values(by="Charge Amount")
    .reset_index()
)

TypeError: sort_values() got an unexpected keyword argument 'by'

In [16]:
charge_by_user.groupby(["Person", "Charge Type"])["Charge Amount"].sum()

Person           Charge Type
Debra Eckhardt   Monthly charges and credits     66.85
                 One-time charges and credits    55.00
                 Surcharges                      11.22
                 Taxes and gov fees               5.89
Jenny Dean       Monthly charges and credits     29.99
                 One-time charges and credits    55.00
                 Surcharges                      11.22
                 Taxes and gov fees               5.89
Joseph Rosas     Add-ons                          0.00
                 Monthly charges and credits     70.00
                 One-time charges and credits   -20.00
                 Surcharges                       5.07
                 Taxes and gov fees               2.35
Katie Williams   One-time charges and credits    45.00
                 Surcharges                       6.16
                 Taxes and gov fees               3.50
Lindsay Rosas    Monthly charges and credits     29.99
                 One-time charges and credits    55.00
                 Surcharges                      11.22
                 Taxes and gov fees               5.89
Tanner Dean      Monthly charges and credits     30.00
                 One-time charges and credits    45.00
                 Surcharges                      11.13
                 Taxes and gov fees               5.83
Temporary Phone  Monthly charges and credits     66.85
                 One-time charges and credits    10.00
                 Surcharges                       5.06
                 Taxes and gov fees               2.40
Name: Charge Amount, dtype: float64

In [ ]:
#!/usr/bin/python
# -*- coding: utf-8 -*-
import numpy as np
import pandas as pd
import streamlit as st
import plotly.offline as py
import plotly.express as px
import plotly.graph_objects as go
from plotly import tools

st.set_page_config(
        page_title="Verizon Bill",
        page_icon="ðŸ“±",
        layout="centered",
        initial_sidebar_state="expanded"
    )

st.markdown("<h1 style='text-align: center;'>Eckhardt Verizon</h1>"
            , unsafe_allow_html=True)
st.markdown("<h3 style='text-align: center;'>Breakdown of the Verizon billing.</h3>"
            , unsafe_allow_html=True)

@st.cache
def get_data():
    """Clean Incoming Data"""
    # Import
    df = pd.read_csv('VERIZON_BILL_CSV.csv')
    # Remove special characters 
    df['Charge Amount'] = df['Charge Amount'].str.replace('\t', '')
    df['Charge Amount'] = df['Charge Amount'].str.replace('$', '')
    df['Charge Amount'] = df['Charge Amount'].str.replace('(', '-')
    df['Charge Amount'] = df['Charge Amount'].str.replace(')', '')
    # Change data type
    df['Charge Amount'] = pd.to_numeric(df['Charge Amount'])
    # Round charte amounts to two decimals
    df['Charge Amount'] = round(df['Charge Amount'], 2)
    return df

df = get_data()

def main():

    charge_by_user = df[df["Person"] != "General Account"]

    charges_per_user = (
        charge_by_user.groupby("Person")["Charge Amount"]
        .sum()
        .sort_values()
        .reset_index(name="Charge")
    )
    
    st.markdown('---')
     
    col_list = ['Person', 'Device', 
                'Charge Amount', 
                'Charge Description']

    fig = go.Figure(data=[go.Table(
        header=dict(values=list(col_list),
                    fill_color='dark gray',
                    align='left'),
        cells=dict(values=[df.Person, df.Device, df['Charge Amount'], df['Charge Description']],
                   fill_color='light gray',
                   align='left'))
    ])

    st.plotly_chart(fig)

    st.markdown('---')
    
    st.markdown('<i class="material-icons">by Joseph Rosas</i>', unsafe_allow_html=True)
    
main()

In [19]:
df

,Person,Device,Charge Amount,Charge Description,Charge Type,Billing Period Start,Billing Period End
0,Katie Williams,IPHONE 11 PRO,40.00,Activation fee,One-time charges and credits,"Nov 29, 2020","Dec 28, 2020"
1,Katie Williams,IPHONE 11 PRO,5.00,Start unlimited - partial-month,One-time charges and credits,"Nov 29, 2020","Dec 28, 2020"
2,Katie Williams,IPHONE 11 PRO,3.42,Fed Universal Service Charge,Surcharges,"Nov 29, 2020","Dec 28, 2020"
3,Katie Williams,IPHONE 11 PRO,2.74,KS Universal Service Fund,Surcharges,"Nov 29, 2020","Dec 28, 2020"
4,Katie Williams,IPHONE 11 PRO,3.03,KS State Sls Tax-Telco,Taxes and gov fees,"Nov 29, 2020","Dec 28, 2020"
...,...,...,...,...,...,...,...
84,Temporary Phone,IPHONE 11 PRO,1.80,KS E-911 Fee,Taxes and gov fees,"Nov 29, 2020","Dec 28, 2020"
85,Temporary Phone,IPHONE 11 PRO,0.52,KS State Sls Tax-Telco,Taxes and gov fees,"Nov 29, 2020","Dec 28, 2020"
86,Temporary Phone,IPHONE 11 PRO,0.08,Sedgwick Cnty Sls Tax-Telco,Taxes and gov fees,"Nov 29, 2020","Dec 28, 2020"
87,General Account,NaN,0.84,State Tax,Taxes and gov fees,"Nov 29, 2020","Dec 28, 2020"
88,General Account,NaN,0.13,Local Tax,Taxes and gov fees,"Nov 29, 2020","Dec 28, 2020"

In [ ]:
    col_list = ['Person', 'Device', 
                'Charge Amount', 
                'Charge Description']

    fig = go.Figure(data=[go.Table(
        header=dict(values=list(col_list),
                    fill_color='dark gray',
                    align='left'),
        cells=dict(values=[df.Person, df.Device, df['Charge Amount'], df['Charge Description']],
                   fill_color='light gray',
                   align='left'))
    ])

    fig.show()